@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.AboutUs,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.tab-list {
  border-bottom: 1px solid;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  font-size: 31px;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: #a70361;
  font-size: 31px;
  color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.tab-content {
  font-size: 31px;
}

.addWine {
  height: 1000px;
}
