.custom-shape-divider-top-1633006772 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

/* .custom-shape-divider-top-1633006772 .shape-fill {
  fill: #cca677;
} */

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: src("./public/layer1.png");
}

.fa-spin {
  -webkit-animation: fa-spin 2s linear infinite;
  animation: fa-spin 2s linear infinite;
}

@font-face {
  font-family: WorkSans;
  src: url("./fonts/WorkSans.ttf");
}

@font-face {
  font-family: Forum;
  src: url("./fonts/Forum-Regular.ttf");
}

#root {
  font-family: "WorkSans", "Lato", sans-serif;
  font-size: 24px;
}

h1 {
  font-size: 99px !important;
}

h2 {
  font-size: 50px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Forum", "Lato", sans-serif;
}
