.custom-shape-divider-top-1633006772 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1633006772 .shape-fill {
  fill: #8F0606;
}

.spacer{
  aspect-ratio: 960/300;
  width:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: src('./public/layer1.png');
}