/* .wineDetailTitle {
    background-image: url("../Images/stain.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
} */

.logoPosition {
  height: 20rem;
  width: 20rem;
  margin-left: 40rem;
}

/* .wineDetailTitle::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
} */
